<!DOCTYPE html>
<html>
<head>
    <title>Quiz Bíblico Retro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="game-screen">
        <div id="dialogue-box">
            <div id="categoria-tag" style="color: yellow; font-size: 10px;"></div>
            <p id="pergunta-texto"></p>
            <div id="options-grid"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='game.js') }}"></script>
</body>
</html>